.main__content{
    min-height: 400px;
    border: 5px solid red;
}
.katalog__title{
    border: 5px solid violet;
    font-family: Balsamiq Sans;
    font-size: 24px;
    margin: 50px 0px 40px 50px;
}
.katalog__title div{
    display: inline-block;
    vertical-align: middle;
    font-family: Neucha;
    font-size: 14px;
}
.katalog__content{
    border: 5px solid brown;
    display: flex;
    min-height: 400px;
}

.katalog__search{
    border: 5px solid blue;
    min-width: 20%;
}
.katalog__goods{
    border: 5px solid yellowgreen;
}
.sort{
    border: 5px solid darkcyan;
}
.sort span{
    font-family: Neucha;
    font-size: 14px;
    color: #7C7C7C;
    margin-right: 5px;
}
.sort a{
    font-family: Neucha;
    font-size: 14px;
    margin: 0px 5px;
    cursor: pointer;
    text-decoration: none;
}
.sort a:hover{
    color: #EC9454;
}
.sort .active{
    color: #EC9454;
    text-decoration: underline;
}
.goods{
    border: 5px solid slateblue;
    display: flex;
    flex-wrap: wrap;
}

.product__content{
    width: 300px;
    min-height: 400px;
    padding: 15px;
    margin: 10px auto;
}
.product__content:hover{
    box-shadow:0 0 15px 4px rgba(0,0,0,0.1);
    border-radius: 20px;
}
.product__img{
    width: 100%;
    
}
.title__product{
    font-family: "Balsamiq Sans";
    font-size: 18px;
}
.description__product{
    font-family: Neucha;
    font-size: 14px;
    color: #A2A2A2;
    
}
.price{
    height: 60px;
    display: flex;
    flex-direction: column;
}
.price__product{
    display: none;    
}
.discount__price__product{
    margin-top: auto;
    align-self: flex-start;
    font-family: "Balsamiq Sans";
    font-size: 22px;
    font-weight: bolder;
}
.percent__discount{
    display: none;
}
.price__product.active{
    display: block;
    margin-top: auto;
    align-self: flex-start;
    font-family: "Balsamiq Sans";
    font-size: 18px;
    text-decoration-line: line-through;
    color: #919191;
}
.discount__price__product.active{
    font-size: 18px;
    font-weight: lighter;
}
.percent__discount.active{
    display: inline-block;
    margin-left: 15px;
    color: red;
}
.product__content button{
    width: 100%;
    height: 50px;
    background: #EC9454;
    border-radius: 10px;
    margin-top: 10px;
    font-family: "Balsamiq Sans";
    font-size: 24px;
}


@media (max-width:1024px){
    
}
@media (max-width:767px){
    .katalog__search{
        display: none;
    }
    .katalog__goods{
        width: 100%;
    }
}
